<!DOCTYPE html>
<html>
<head>
    <title>Courses List</title>
    <link rel="stylesheet" type="text/css" href="css/courses.css">
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-database.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src = "js/firebaseAuth.js"></script>
    <script src="js/addCourse.js"></script>
    <link rel="stylesheet" type="text/css" href="css/addcourse.css">
</head>
<body>

<div class="nav">
    <button onclick=userSignout()><a href="/">SignOut</a></button>
    <button><a href="/courses">Courses</a></button>
</div>

<div class="c1">
    <p>Questions</p>
    <input type="text" id = "coursename" placeholder="Enter Course name">
    <input type="text" id = "courseid" placeholder="Enter unique course ID">
    <input type="text" id = "instructorname" placeholder="Enter Instructor name">
</div>

<div class="c2">
    <button id = "Create" onclick="createCourse()">Create</button>
</div>

</body>

</html>