button {
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
}

.login-form {
    text-align: center;
    width: 360px;
    background: #f1f1f1;
    height: 500px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span.psw {
    float: right;
    padding-top: 16px;
}
body {font-family:sans-serif;
}

h2{
    text-align:center;
    font-family:sans-serif;
}

#signout{
    display: none;
    visibility: hidden;
}

#gotoCourses{
    display: none;
    visibility: hidden;
}

.input-box{
    position: relative;
}

.input-box span{
    position: absolute;
    top: 12px;
    left: 10px;
}

label{
    margin: 15px;
}

input[type = text], input[type = password] {
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}